@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --c-l1: #F9F5F1;
  --c-l2: #CEC1B4;
  --c-l3: #ACA6A2;
  --c-l4: #92897B;
  --c-l5: #5E5E50;
  --c-l6: #9F6550;
  --c-l7: #4F2C1C;
  --c-l8: #130B06;

}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer {
  body {
    @apply bg-[#F7EEE5] font-montserrat
  }

  *{
    @apply select-none
  }

}
